APP_ENV=development
APP_NAME=Prototype Hub
HTTP_ADDR=:8080
JWT_SECRET=change-me
JWT_COOKIE_NAME=prototypehub_token
JWT_TTL_HOURS=24

DB_DRIVER=postgres
DB_DSN=host=postgres user=prototype password=prototype dbname=prototype_hub port=5432 sslmode=disable TimeZone=Asia/Shanghai
# MySQL example:
# DB_DRIVER=mysql
# DB_DSN=prototype:prototype@tcp(mysql:3306)/prototype_hub?charset=utf8mb4&parseTime=True&loc=Local

STORAGE_DRIVER=s3
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=prototype-hub
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_USE_PATH_STYLE=true

UPLOAD_MAX_SIZE_BYTES=104857600
UPLOAD_MAX_FILE_COUNT=10000
UPLOAD_MAX_EXTRACTED_SIZE_BYTES=314572800

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=ChangeMe123!
DEFAULT_ADMIN_DISPLAY_NAME=System Admin
